html{
  scroll-behavior: smooth;
}

/* In firefox scroll-behavior smooth makes nextjs <Link> component not scroll to top on redirection.
  This is the recommended fix but obviously undermines the UX by jumping from section to section instead of simply scrolling.
  Fix as soon as a fix is released 
  
  link to the issue https://github.com/vercel/next.js/issues/22858
  */
@-moz-document url-prefix() {
  html {
    scroll-behavior: auto;
  }
}

@tailwind base;
@tailwind components;

@font-face {
  font-family: "Open Sans";
  src: url(../public/fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../public/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(../public/fonts/Aleo-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url(../public/fonts/Aleo-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../public/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins-Bold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url(../public/fonts/Oswald-Variable.ttf);
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: Poppins, sans-serif;
}

@tailwind utilities;

.navbar-gradient {
  background-image: linear-gradient(131deg, #3591d4, #5dc3f6, #3591d4, #5dc3f6);
}

.clutch-gradient {
  background-image: linear-gradient(90deg, #C4C4C4, #757575);
}

.clutch-slide-gradient {
  background-image: linear-gradient(90deg, #7640CC, #36A9E1);
}

.footer-bg-gradient{
  background-image: linear-gradient(90deg, #3C94D1, #7640CC)
}

.action-button-gradient {
  background-image: linear-gradient(131deg, #ffbb00, #ff972b, #ffa133, #ffa133);
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}

.blue-filter{
  filter: invert(53%) sepia(94%) saturate(324%) hue-rotate(167deg) brightness(86%) contrast(91%);
}
.dark-blue-filter{
  filter: invert(18%) sepia(74%) saturate(4077%) hue-rotate(219deg) brightness(76%) contrast(109%);
}

.gradient-primary{
  background:linear-gradient(235deg, rgba(41, 171, 226, 1), rgba(0, 59, 188, 1))}
.gradient-secondary{
  background: linear-gradient(235deg, rgba(98, 206, 252, 1), rgba(7, 122, 170, 1))
}
.gradient-tertiary{
  transition: all 0.3s ease-in-out;
  background: linear-gradient(235deg, rgba(98, 206, 252, 1), rgba(2, 137, 255, 1))
}
.gradient-tertiary:hover{
  transition: all 0.3s ease-in-out;
  background: linear-gradient(235deg, rgba(2, 137, 255, 1), rgba(2, 137, 255, 1));
}
.text-gradient-tertiary{
  background: linear-gradient(235deg, rgba(98, 206, 252, 1), rgba(2, 137, 255, 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-gradient{
  background-image: linear-gradient(
    135deg,
    hsl(44deg 100% 60%) 0%,
    hsl(44deg 95% 57%) 5%,
    hsl(43deg 91% 55%) 11%,
    hsl(43deg 87% 53%) 18%,
    hsl(43deg 83% 51%) 27%,
    hsl(43deg 87% 48%) 38%,
    hsl(40deg 83% 50%) 50%,
    hsl(37deg 84% 52%) 64%,
    hsl(33deg 85% 53%) 78%,
    hsl(30deg 86% 55%) 91%,
    hsl(26deg 87% 56%) 100%
  );
  background-size: 100% 250% ;
  background-position: top;
}
.gold-gradient:hover{
  background-position: bottom;
}
.button-active:active{
  transform: scale(.9);
}

.service-shadow{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.how-work-shadow{
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}
.contact-shadow{
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.triangle{
  width: 0; 
  height: 0; 
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; 
  
  border-left:17px solid hsl(26deg 87% 56%); 
}

.video-responsive {
  overflow:hidden;
  height:100%;
}
.video-responsive iframe{
  height:100%;
  width:100%;
}

.blue-purple-gradient-2{
  background: linear-gradient(90deg, #7640CC -17%, #36A9E1 139%);
}
.blue-transparent-nearshore{
  background: linear-gradient(90deg, #466AE72B -17%, #466AE700 139%);
}
.rocbird-shadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rocbird-center{
  background-position: center;
}
.rocbird-text-gradient{
  background: linear-gradient(90deg, #FFFFFF -2.56%, #39CEFD 107.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.effect{
  position: relative;
  overflow: hidden;
}
.effect::before{
  content: '';
  position: absolute;
  z-index: -1;
  top: -4rem;
  right: -4rem;
  background-image: linear-gradient(
  180deg,
  hsl(263deg 58% 53%) 12%,
  hsl(251deg 61% 57%) 39%,
  hsl(238deg 65% 60%) 50%,
  hsl(228deg 72% 58%) 57%,
  hsl(219deg 77% 55%) 63%,
  hsl(212deg 81% 51%) 67%,
  hsl(206deg 100% 46%) 72%,
  hsl(204deg 100% 46%) 76%,
  hsl(202deg 100% 45%) 80%,
  hsl(199deg 100% 45%) 85%,
  hsl(200deg 78% 51%) 91%,
  hsl(200deg 74% 55%) 100%
);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.effect:hover::before{
  transform: scale(20);
  transition: transform 0.7s ease-out;
  background-image: linear-gradient(
  180deg,
  hsl(263deg 58% 53%) 0%,
  hsl(251deg 61% 57%) 50%,
  hsl(199deg 100% 45%) 65%,
  hsl(200deg 74% 55%) 100%
);

}

.nav-container-width {
  @apply w-full sm:max-w-[34rem] md:max-w-[45rem] lg:max-w-[60rem] xl:max-w-6xl mx-auto;
}

.container-width {
  @apply w-full sm:w-[34rem] md:w-[45rem] lg:w-[60rem] xl:w-[71.25rem] mx-auto;
}



.step-left{
  background-color: #20a088 ;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 2px white ;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  
}

.step-left::after{
  content: "";
  background-color: #20a088 ;
  width: 40px;
  height: 40px;
  rotate: 45deg;
  border-radius: 10%;
  position: absolute;
  right: 40%;
  top: 20%;
  
}

.step-right{
  background-color: #20a088 ;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: solid 2px white ;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
  position: relative
}

.step-right::before{
  content: "";
  background-color: #20a088 ;
  width: 40px;
  height: 40px;
  rotate: 45deg;
  border-radius: 10%;
  position: absolute;
  left: 40%;
  top: 20%;
}


.bootcamp-text-gradient {
  background-image: linear-gradient(90deg, #ff7208 0%, #fbd13b 35%, #6be2cd 70%);
}

.swiper-testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-marquesina .swiper-wrapper{
  align-items: center;
  transition-timing-function: linear !important;
}

.swiper-testimonials .swiper-button-prev{
  left: 10%;
  background-image:url(../public/images/angle-left-solid.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-testimonials .swiper-button-prev::after {
  display: none;
}

.swiper-testimonials .swiper-button-next{
  right: 10%;
  background-image:url(../public/images/angle-right-solid.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-testimonials .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 768px) {
  .swiper-testimonials .swiper-button-prev{
    display: none;
  }
  .swiper-testimonials .swiper-button-next{
    display: none;
  }
}
.swiper-custom-bullets .swiper-pagination-bullet {
  width: 28px;
  height: 28px;
  bottom:0px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-custom-bullets .swiper-pagination-bullet-active {
  color: #fff;
  background: linear-gradient(235deg, rgba(98, 206, 252, 1), rgba(2, 137, 255, 1))
}

.blinking-cursor{
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}